target
front/bower_components
front/node
.idea
.classpath
.metadata
.settings
.project
*.log
*.iml
.DS_Store
_SpecRunner.html
front/.grunt/
node_modules
tmp_init
/.config/
/.subversion/
/.npm/
/.cache/
