.pipesflow {
  height: 100%;
  overflow-y: scroll;
  .pipescontainer {
    .subpipe section {
      border-width: 0 0.25rem 0 0.25rem;
      border-style: solid;
      width: 100%;
      .actions {
        font-size: x-small;
      }
    }
  }
}