@import '../../../bower_components/bootstrap/dist/css/bootstrap.min.css';

.detail {
  width: 95%;
  height:30%;
  display: inline_block;
}

.pipecontainer {
  min-height: 20rem;
  display: inline-flex;
  width: 100%;
  overflow-x:scroll;
}

.subpipe {
  text-align: center;
  float: left;
  min-width: 22rem;
  margin-left: 5%;
  width: 22rem;
  height: 14rem;
  position: relative;
  background: #88b7d5;
  border: 10px solid #c2e1f5;
  margin-top: 3rem;
  display: inline-block;
}

.subpipe:after, .arrow_box:before{
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.subpipe:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #88b7d5;
  border-width: 30px;
  margin-top: -30px;
}

.subpipe:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #c2e1f5;
  border-width: 44px;
  margin-top: -44px;
}

.col-sm-9 {
  display: inline-block;
}

.results {
  width:100%;
  display: inline-block;
}

.input-group {
  width: 106.1rem;
  float: right;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.input-group-btn {
}

.form-control {
}

.panel-heading {
}

.panelResults_Top {
  height: 3%;
}

.btn-danger {
  float: right;
}