.arrow::before {
  height: 5rem;
  width: 100%;
  background-size: cover;
}

.arrow::after {
  height: 5rem;
  width: 100%;
  background-size: cover;
}

.arrow.read::before{
  background-image:url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20201%2025.51%22%3E%3Cdefs%3E%3Cstyle%3E.green%7Bfill%3Anone%3Bstroke%3A%23449d44%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolyline%20class%3D%22green%22%20points%3D%220.5%2026.6%200.5%200.6%20100.5%2015%20200.5%200.6%20200.5%2026.6%22%2F%3E%3C%2Fsvg%3E');
}

.arrow.read section {
  border-color: #449d44;
}

.arrow.write::before{
  background-image:url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20201%2025.51%22%3E%3Cdefs%3E%3Cstyle%3E.red%20%7Bfill%3Anone%3Bstroke%3A%23c9302c%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolyline%20class%3D%22red%22%20points%3D%220.5%2026.6%200.5%200.6%20100.5%2015%20200.5%200.6%20200.5%2026.6%22%2F%3E%3C%2Fsvg%3E');
}

.arrow.write section {
  border-color: #c9302c;
}

.arrow.control::before{
  background-image:url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20201%2025.51%22%3E%3Cdefs%3E%3Cstyle%3E.blue%20%7Bfill%3Anone%3Bstroke%3A%2331b0d5%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolyline%20class%3D%22blue%22%20points%3D%220.5%2026.6%200.5%200.6%20100.5%2015%20200.5%200.6%20200.5%2026.6%22%2F%3E%3C%2Fsvg%3E');
}

.arrow.control section {
  border-color: #31b0d5;
}

.arrow.read::after{
  background-image:url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20201%2025.51%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23449d44%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolyline%20class%3D%22cls-1%22%20points%3D%22200.5%20-1%20200.5%205%20100.5%2020%200.5%206%200.5%20-1%22%2F%3E%3C%2Fsvg%3E');
}

.arrow.write::after{
  background-image:url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20201%2025.51%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%23c9302c%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolyline%20class%3D%22cls-1%22%20points%3D%22200.5%20-1%20200.5%205%20100.5%2020%200.5%206%200.5%20-1%22%2F%3E%3C%2Fsvg%3E');
}

.arrow.control::after{
  background-image:url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20201%2025.51%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill%3Anone%3Bstroke%3A%2331b0d5%3Bstroke-miterlimit%3A10%3B%7D%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cpolyline%20class%3D%22cls-1%22%20points%3D%22200.5%20-1%20200.5%205%20100.5%2020%200.5%206%200.5%20-1%22%2F%3E%3C%2Fsvg%3E');
}